doctype html
html
  head
    // UIkit CSS
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css')

    // UIkit JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js')
  body
    #app
    script(src='./index.jsx')
